.mainbutton {
  display: flex;
  justify-content: flex-start;
}
.mainbutton Button {
  width: 15vw;
  height: 2vw;

  color: #0ab4f7;
  background-color: white;
  text-decoration: none;
  border: 1px solid #0ab4f7;
  border-radius: 5px;
}
.mainbutton Button:hover {
  background-color: #0ab4f7;
  color: white;
}
.mainbutton Button:focus {
  outline: none;
}
